<section>
    <nav class="navbar navbar-expand-lg lms-navbar-bg position-fixed sticky-top" id="navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="dashboard" (click)="dashboard()">
            <img src="../../assets/DL-logo.png"
             alt="Digital Lync logo" height="50" width="200">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
              <!-- <li class="nav-item">
                <a class="nav-link">
                  <div class="form-check form-switch mt-2">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" aria-label="checkbox" (change)="toggleTheme($event)">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Theme</label>
                  </div>
                </a>
              </li> -->
              <li class="nav-item btn" (click)="admin()">
                <a class="nav-link" href="admin" style="color: #0071BC ;">Admin Portal  <i class="fa-solid fa-arrow-up-right-from-square"></i> </a>
              </li> 
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle lms-dropdown" href="profile-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="first-alpha-circle me-1 text-white">
                    <strong>{{firstLetters}}</strong>
                </div>
                <div class="lms-user-details">
                    <span><strong>{{userName}}</strong></span>
                    <span>{{userEmail}}</span>
                </div>
                  
                </a>
                <ul class="dropdown-menu lms-dropdown-profile">
                  <li><a class="dropdown-item" href="update-profile" (click)="updateProfile()">Update Profile</a></li>
                  <li><a class="dropdown-item" href="logout" (click)="logout()">Logout</a></li>
                  <!-- <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                </ul>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li> -->
            </ul>
            <!-- <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
          </div>
        </div>
      </nav>
</section>