<section>
    <nav class="navbar navbar-expand-lg lms-navbar-bg">
        <div class="container-fluid">
          <a class="navbar-brand" href="javascript:void(0)" (click)="dashboard()">
            <img src="https://www.digital-lync.com/images/digital-lyncs-devops-python-digital-marketing-training-hyderabad.png"
             alt="Digital Lync logo" height="50" width="200">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
              <!-- <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li> -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle lms-dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="first-alpha-circle me-1 text-white">
                    <strong>{{firstLetters}}</strong>
                </div>
                <div class="lms-user-details">
                    <span><strong>{{userName}}</strong></span>
                    <span>{{userEmail}}</span>
                </div>
                  
                </a>
                <ul class="dropdown-menu lms-dropdown-profile">
                  <li><a class="dropdown-item" href="javascript:void(0)" (click)="updateProfile()">Profile</a></li>
                  <li><a class="dropdown-item" href="javascript:void(0)" (click)="logout()">Logout</a></li>
                  <!-- <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                </ul>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li> -->
            </ul>
            <!-- <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
          </div>
        </div>
      </nav>
</section>