<app-header class="mb-1"></app-header>

<div class="sidebar-container">
    <mat-accordion>
        <mat-expansion-panel hideToggle style="max-width: 300px">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    HTML & CSS
                </mat-panel-title>
                <!-- <mat-panel-description>
                    This is a summary of the content
                </mat-panel-description> -->
            </mat-expansion-panel-header>
            <div class="bg-primary lms-g-cursor text-white p-1">
                Class 1
            </div>
            <div class="bg-primary lms-g-cursor text-white p-1">
                Class 1
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
