<section class="container-fluid">
    <div class="row">
        <div class="col-lg-6 lms-welcome-screen">
            <div class="mt-4">
                <img src="https://lms.digitallync.ai/_next/image?url=%2Flogos%2Fdigitallync.png&w=256&q=75" alt="Digital lync logo">
            </div>
            <div class="lms-welcome-div">
                <h1>Welcome</h1>
                <p>Sign in to your account</p>
                <button class="btn btn-primary" (click)="login()">
                    Sign In
                </button>
            </div>
        </div>
        <div class="col-lg-6 lms-wallpaper-screen">
        </div>
    </div>
</section>
