.lms-dashboard-section {
    height: 100vh;
}

.lms-dashboard-bg-img {
    background-image: url('../../assets/banner.jpg');
    height: 300px;
    width: 100%;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
}

.lms-dashboard-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lms-btn-card {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}