<section class="lms-center-div">
    <div class="form-field-card">
        <img src="https://www.digital-lync.com/images/digital-lyncs-devops-python-digital-marketing-training-hyderabad.png"
             height="50" width="100" alt="Digital Lync logo">
        
        <h1>Welcome</h1>
        <p>Enter your email address and we will send you <br> instructions to set your password.</p>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-form-field class="mat-form-field" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Enter your email" formControlName="email">
                <mat-icon matSuffix>email</mat-icon>
                <mat-hint>Your registered email address</mat-hint>
                <mat-error *ngIf="form.controls['email'].hasError('required')">
                    Email is required.
                </mat-error>
                <mat-error *ngIf="form.controls['email'].hasError('email')">
                    Please enter a valid email.
                </mat-error>
            </mat-form-field>
        </form>
        <div class="d-flex flex-column justify-content-center">
            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">continue</button>
            <a href="javascript:void(0)" (click)="goTo()">Back to Digital Lync LMS</a>
        </div>
    </div>
</section>