/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.lms-g-cp {
    cursor: pointer;
}

.lms-center-div {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.form-field-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 75%;
    border-radius: 8px;
}

.lms-sidebar-container, .lms-mat-tabs {
    padding: 10px;
}

.lms-btn:hover, .lms-btn:active {
    background-color: #228be6;
    color: #ffffff;
}

.video-selected {
    color: #ffffff;
    /* font-weight: bolder; */
    background-color: #0057b8;
}

/* Webkit (Chrome, Safari, etc.) scrollbar */
/* Track */
::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar handle */
    border-radius: 5px; /* Border radius of the handle */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the handle when hovered */
  }
  