<app-header></app-header>
<section class="lms-center-div">
    <div class="form-field-card">

        <h1> Update profile feature is not available yet! </h1>
        <!-- <form [formGroup]="form" (ngSubmit)="onSubmit()"> -->

            <!-- <mat-form-field class="mat-form-field" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Enter your name" formControlName="name"> -->
                <!-- <mat-icon matSuffix>name</mat-icon> -->
                <!-- <mat-hint>Your registered email address</mat-hint>
                <mat-error *ngIf="form.controls['name'].hasError('required')">
                    Email is required.
                </mat-error>
                <mat-error *ngIf="form.controls['name'].hasError('name')">
                    Please enter a valid name.
                </mat-error> -->
            <!-- </mat-form-field> -->

            <!-- <mat-form-field class="mat-form-field" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Enter your email" formControlName="email">
                <mat-icon matSuffix>email</mat-icon>
                <mat-hint>Your registered email address</mat-hint>
                <mat-error *ngIf="form.controls['email'].hasError('required')">
                    Email is required.
                </mat-error>
                <mat-error *ngIf="form.controls['email'].hasError('email')">
                    Please enter a valid email.
                </mat-error>
            </mat-form-field> -->

            <!-- <mat-form-field style="width: 100%;">
                <mat-label>File matInput</mat-label>
                <button mat-icon-button matPrefix (click)="f_input.click()">
            <mat-icon>attach_file</mat-icon>
          </button>
                <input type="text" readonly matInput [formControl]="display" />
                <input
            type="file"
            multiple
            hidden
            #f_input
            (change)="handleFileInputChange(f_input.files)"
          />
                <mat-error>this field is required</mat-error>
            </mat-form-field> -->

            <input type='file' accept="image" style="margin-top: 2rem;">

            <div class="d-flex flex-column justify-content-center">
                
                <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">
                    Update Profile image
                </button>
            </div>

            
        <!-- </form> -->
    </div>
</section>
